
  <%- include('header') -%>
    <main>
        <div class="input">
          <div class="title">
            <h1>Undirskriftarlisti</h1>
          </div>
          <div class="admin">
            <p>You have been logged in as an admin</p>
            <a href = "/"> Return to main page</a>
          </div>
        </div>
    </main>
</body>
</html>