<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Error</title>
</head>
<body class = "error">
    <div class ="col-5">
      <h1>Duplicate ID</h1>
      <h2>Unfortunately the inputed ID is already registered.</h2>
      <%- include('footer') -%>
    </div>
</body>
</html>