<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Undirskriftarlisti</title>
</head>
<body>
  <header>
    <div class = "grid row login">
      <% if(loggedIn){ %>
        <p><a href="/logout">Logout</a></p>
      <% }else{ %>
        <div class =""><p><a href="/login">Login</a></p></div>
      <% } %>
    </div>
    
    
  </header>