
  <%- include('header') -%>
    <main>
        <div class="input">
          <div class="title">
            <h1>Undirskriftarlisti</h1>
          </div>
          <div>
            <%- include('form') -%>
          </div>
        </div>
        <%- include('list') -%>
    </main>
    <%- include('pageCount') -%>
</body>
</html>