<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Undirskriftarlisti</title>
</head>
<body>
  <main>
    <div class ="login-page grid">
      <h1>Innskráning</h1>
      <form class ="col-6 grid" method="post" action="/login" autocomplete="off">
          <label class ="row"><p class="col-2">Notendanafn: </p><input class="col-8" type="text" name="username"></label>
          <label class ="row"><p class="col-2">Lykilorð: </p><input class="col-8" type="password" name="password"></label>
          <div class="submit">
            <button>Innskrá</button>
          </div>
        
      </form>
    </div>
  </main>
<%- include('footer') -%>
</body>
</html>
