<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Undirskriftarlisti</title>
</head>
<body>
<main>
<h1>Innskráning</h1>
<form method="post" action="/login" autocomplete="off">
  <label>Notendanafn: <input type="text" name="username"></label>
  <label>Lykilorð: <input type="password" name="password"></label>
  <button>Innskrá</button>
</form>
</main>
<%- include('footer') -%>
</body>
</html>
