main {
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(252, 244, 233);
}

.input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2rem;

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
  }
}

.input-form {
  display: flex;
  flex-direction: column;

  label {
    padding-bottom: 0.75rem;
  }

  .inputt {
    border: 1px solid rgba(124, 109, 89, 0.486);
    border-radius: 4px;
    height: 2rem;
  }

  .text-area {
    border: 1px solid rgba(124, 109, 89, 0.486);
    border-radius: 4px;
    height: 4rem;
  }

  .form-submit {
    display: flex;
    justify-content: center;
  }

  .inputs {
    border: 1px solid rgba(124, 109, 89, 0.486);
    border-radius: 4px;
    font-size: 24px;
    min-height: 2rem;
    padding: 5px 25px;
    width: fit-content;
  }
}

.check-box {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  input {
    border: 1px solid rgba(124, 109, 89, 0.486);
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.data {
  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    margin-bottom: 2rem;
    text-align: center;
  }

  table,
  th,
  td {
    border: 1px solid rgba(124, 109, 89, 0.486);
    border-collapse: collapse;
    padding: 0.5rem;
  }
}

.highlite-true {
  background-color: rgba(255, 0, 0, 0.219);
}

.rect {
  background-color: #000;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.error {
  background-color: rgba(214, 214, 194, 0.267);
  display: flex;
  font-family: arial, sans-serif;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: medium;
    font-weight: 100;
  }
}

.pages{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
